<head>
{{if 'plain_item' in request.vars:}}    
    {{include 'web2py_ajax.html'}}
    {{include 'tutor_head.html'}}
{{pass}}
</head>

<table class="code-with-result" width="100%">
<tbody>

<tr>
    <td style="border-right: 1px dashed silver;">
        <div class="padding">
         {{=DIV( codes, _id="codes" )}}  
        </div>
    </td>
    
    <td> 
        <div class="padding">
            <span class="button">[ Rezultatas ({{=A("plain", _href=request.url+"?"+request.env.query_string+"&plain", _style="color: grey")}}) ]</span> <br/>
            {{=DIV( content, _id="content" ,  _title='Galite naudoti Ctrl+Shift+I ("inspect element"), kad peržiūrėtumėte html "vidurius"' )}}
        </div>
      </td>
</tr>
</tbody>
</table>
