


{{=MARKMIN( about , BR() ) if globals().get('about') else '' }}

{{ course = A("Pamokos", _href=URL('default', 'index')) }}



<br /><br />


{{if request.controller == 'tutor' and request.function == 'overview':}}

    {{ lesson_name = lesson[len("lesson"):]
      lesson_name = " ".join(lesson_name.split("_")[1:]) .title()
    }}
   {{=H3(CAT(course , " / ", lesson_name )) }}
    {{ for f, codes, result_url  in zip( fun_names, examples_codes, results_urls):  }}
        {{=A(f, _href=URL(lesson, f)) }}
        {{ =XML( response.render('tutor_item.html', dict(codes=codes, content=LOAD(url=result_url, ajax=True))) ) }}  <br />
        {{ #=LOAD(url=result_url, ajax=True) }}  <br />
    {{ pass }}
    
{{else:}}

    {{ lesson_name = request.controller[len("lesson"):]
      lesson_name = " ".join(lesson_name.split("_")[1:]) .title()
    }}

    {{=H3(CAT(course , " / ", lesson_name, " / ",  current_category + ( " / " * bool(current_category))) , _style="display:inline")  }}
    {{=request.function}}

    <br ><br>
    {{=navigate_prev_next}} {{ =SPAN( menu, _id="menu" ) }}

    {{include 'tutor_item.html'}}  
{{pass}}

<br />

{{if request.env.http_host.split(':')[0] in ['localhost', '127.0.0.1']:}}
    {{=response.toolbar()}}
{{pass}}



