<head>

{{block head}}
{{
    CMROOT="/admin/static/codemirror"
    # CMROOT="http://codemirror.net"
    response.files.append(URL('static','js/jquery.balloon.js'))
}}
{{include 'web2py_ajax.html'}}

  <link rel="stylesheet" href="{{=CMROOT}}/lib/codemirror.css">
    <script src="{{=CMROOT}}/lib/codemirror.js"></script>
    <script src="{{=CMROOT}}/addon/edit/matchbrackets.js"></script>
    
    <script src="{{=CMROOT}}/mode/python/python.js"></script>
    <style> 

        .CodeMirror { height: auto; border: 1px solid #ddd; }
        
        .CodeMirror-scroll { max-height: 200px; } 
        .CodeMirror-scroll { min-height: 200px; }
        .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
        
        .placeholder { background: #FFFFA9 }
       
    </style>
    <script>
        $( document ).ready(function() {
            $('#menu .togglable').hide(); //css('display', 'none');
            $('#menu .button').mouseover( function(){ $("#menu .togglable").show() });

            // let codemirror load first
            // setTimeout( function(){ $('#codes .togglable').hide(); }, 100); // css('display', 'none');
            
            $('#menu .button').click( function(){ $("#menu .togglable").toggle() });
            $('#codes .button').click( function(){ $("#codes .togglable").toggle() });
            
    });
    </script>
{{end}}


</head>
<body>
{{=content}}
{{#=DIV( content, _id="content" )}}

<br />
{{=DIV( codes, _id="codes" )}}


{{=DIV( menu, _id="menu" )}}


</body>
